* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	width: 10px;
	background: #ccc;
	border-left: 0 solid #fff;
	border-right: 0 solid #fff;
	box-shadow: inset 0 0 5px #333;
}

::-webkit-scrollbar-thumb {
	background: #555;
	width: 0;
	height: 35%;
	transition: 0.5s ease;
	cursor: pointer;
}

body {
	background: #d3d3d3;
}

.header {
	background: #333;
	padding: 30px 40px;
	color: #fff;
	text-align: center;
}

.header::after {
	content: "";
	display: table;
	clear: both;
}

input[type="text"] {
	position: relative;
	border: none;
	border-radius: 0;
	width: 75%;
	padding: 10px;
	float: left;
	font-size: 16px;
	outline: none;
}

.addBtn {
	padding: 10px;
	width: 25%;
	background: #d9d9d9;
	color: #555;
	float: left;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s ease;
	border-radius: 0;
	font-weight: bold;
}

.addBtn:hover {
	background: #bbb;
}

ol,
ul {
	padding-left: 0;
}

ul li {
	position: relative;
	cursor: pointer;
	list-style: none;
	background: #eee;
	font-size: 18px;
	padding: 12px 8px 12px 40px;
	transition: all 0.2s ease;
	user-select: none; /** can't select text*/
}

ul li:nth-child(odd) {
	background: #f9f9f9;
}

ul li:hover {
	background: #ddd;
}

ul li.checked {
	background: rgba(83, 250, 6, 0.418);
	text-decoration: line-through;
}

ul li.checked::before {
	content: "";
	position: absolute;
	border-style: solid;
	border-color: rgba(4, 224, 78, 0.479);
	border-width: 0 4px 4px 0;
	top: 50%;
	left: 16px;
	transform: translateY(-50%) rotate(45deg);
	height: 20px;
	width: 10px;
}

.close {
	position: absolute;
	font-weight: bold;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 11px 16px;
}

.close:hover {
	background: red;
	color: #fff;
}

.sa-button-container{
	display: none;
}